/* .color1 { #dcab7b };
.color2 { #fcbcbc };
.color3 { #5c2a35 };
.color4 { #a4765e };
.color5 { #d6b8b9 }; */
*{
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    /* background-color: #fcbcbc6e !important; */
}

#cajaDeInicio{
    background-color: #fcbcbc6e !important;
}

.nav-link:hover{
    transform: scale(1.1);
}

