* {
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#cajaDeInicio {
    background-color: #fcbcbc6e !important;
    border-bottom: #ccacb4 double 4px;
}

.nav-link:hover {
    transform: scale(1.1);
}

.banner-contacto {
    -webkit-box-shadow: 0px 0px 20px 0px rgba(220, 172, 123, 0.7);
    -moz-box-shadow: 0px 0px 20px 0px rgba(220, 172, 123, 0.7);
    box-shadow: 0px 0px 20px 0px rgba(220, 172, 123, 0.7);
}

main {
    background-color: #dcac7b2a;
}

#banner-2 {
    background-color: #ECD2CA;
}

.tarjetas {
    height: 2rem
}

.btn-outline-secondary {
    -webkit-box-shadow: 0px 0px 10px 0px rgba(220, 172, 123, 0.7);
    -moz-box-shadow: 0px 0px 10px 0px rgba(220, 172, 123, 0.7);
    box-shadow: 0px 0px 10px 0px rgba(220, 172, 123, 0.7);
}

footer {
    border-top: #ccacb4 double 4px;
    background-color: #fcbcbc6e !important;
}

@media only screen and (min-width: 1024px) {
    form {
        width: 50vh;
    }
}